*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
*tfevents* filter=lfs diff=lfs merge=lfs -text
public/robot/mjlab/meshes/bottom_head_shell.stl filter=lfs diff=lfs merge=lfs -text
public/robot/mjlab/meshes/elec_rpi_robot_hat_pcb.stl filter=lfs diff=lfs merge=lfs -text
public/robot/mjlab/meshes/face_part.stl filter=lfs diff=lfs merge=lfs -text
public/robot/mjlab/meshes/foot_left.stl filter=lfs diff=lfs merge=lfs -text
public/robot/mjlab/meshes/foot_right.stl filter=lfs diff=lfs merge=lfs -text
public/robot/mjlab/meshes/hip_l.stl filter=lfs diff=lfs merge=lfs -text
public/robot/mjlab/meshes/jaw.stl filter=lfs diff=lfs merge=lfs -text
public/robot/mjlab/meshes/left_shell.stl filter=lfs diff=lfs merge=lfs -text
public/robot/mjlab/meshes/leg.stl filter=lfs diff=lfs merge=lfs -text
public/robot/mjlab/meshes/np_f970.stl filter=lfs diff=lfs merge=lfs -text
public/robot/mjlab/meshes/pcb__raspberry_pi_zero_2_w.stl filter=lfs diff=lfs merge=lfs -text
public/robot/mjlab/meshes/power_support.stl filter=lfs diff=lfs merge=lfs -text
public/robot/mjlab/meshes/right_shell.stl filter=lfs diff=lfs merge=lfs -text
public/robot/mjlab/meshes/roller_blade.stl filter=lfs diff=lfs merge=lfs -text
public/robot/mjlab/meshes/seeed_bearing__configuration__22x16x4.stl filter=lfs diff=lfs merge=lfs -text
public/robot/mjlab/meshes/seeed_bearing__configuration_default.stl filter=lfs diff=lfs merge=lfs -text
public/robot/mjlab/meshes/sole_left.stl filter=lfs diff=lfs merge=lfs -text
public/robot/mjlab/meshes/sole_right.stl filter=lfs diff=lfs merge=lfs -text
public/robot/mjlab/meshes/top_head_shell.stl filter=lfs diff=lfs merge=lfs -text
public/robot/mjlab/meshes/upper_leg_left.stl filter=lfs diff=lfs merge=lfs -text
public/robot/mjlab/meshes/upper_leg_right.stl filter=lfs diff=lfs merge=lfs -text
public/robot/mjlab/meshes/yaw2roll.stl filter=lfs diff=lfs merge=lfs -text
public/robot/mjlab/microduck.glb filter=lfs diff=lfs merge=lfs -text
